body{
    /* box-sizing: border-box; */
}

.site-container{

    /* height:50vw; */
    /* width:100%; */
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    /* flex-wrap: wrap; */
    /* background-color: #3F466E; */
    
    }